Criando dataframes de difwerentes maneiras

In [1]:
import pandas as pd

## 01 - A partir de um arquivo

- vamos utilizar um banco de dados de cereais (pequeno tambem):

[Kaggle](https://www.kaggle.com/crawford/80-cereals)

In [2]:
df_csv = pd.read_csv("cereal.csv")
# pode ser em formato de planilha tambem (.xlsx)

df_csv.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
# curiosidade -> CSV = comando separado por virgula

df_csv.tail() #verificar ultimas linhas (.tail)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

## A partir da area de transferencia

In [4]:
df_transferencia = pd.read_clipboard()
# O clipboard faz a leitura somente daquele CTRL + V que voce deu na planilha
# OBS meu excel ta com problem

df_transferencia

ParserError: Expected 17 fields in line 4, saw 18. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

## A partir de um dicionario

In [9]:
funcionarios = {
    'Nome': ['Gustavo', 'Vinicius', 'Raimundo'],
    'Idade': [25, 40, 32],
    'Tempo de empresa': [3, 10, 5],
    'Setor': ['T.I', 'Suporte', 'Analista']
}

In [10]:
funcionarios

{'Nome': ['Gustavo', 'Vinicius', 'Raimundo'],
 'Idade': [25, 40, 32],
 'Tempo de empresa': [3, 10, 5],
 'Setor': ['T.I', 'Suporte', 'Analista']}

In [11]:
df_dicionarios = pd.DataFrame(funcionarios)

df_dicionarios

       Nome  Idade  Tempo de empresa     Setor
0   Gustavo     25                 3       T.I
1  Vinicius     40                10   Suporte
2  Raimundo     32                 5  Analista