## Análise do titanic - ciencia de dados

In [1]:
import pandas as pd

In [2]:
# vizualizando nossa base

treino = pd.read_csv('train.csv')
treino.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# verificando informações
treino.info()

# verificando os tipos de dados
treino.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

int64      5
object     5
float64    2
Name: count, dtype: int64

In [4]:
# Vizualizar os valores nulos
treino.isnull().sum().sort_values(ascending=False).head(10)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
dtype: int64

In [5]:
# vizualizar a base de Teste
teste = pd.read_csv('test.csv')
teste.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
teste.info()
teste.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

object     5
int64      4
float64    2
Name: count, dtype: int64

In [7]:
# analisando os valores nulos da base Teste
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

##### Temos colunas que possuem valores vazios na base de teste que não estão vazias na base de treino (nesse caso, precisariamos tratar essas colunas apenas na base de teste)

In [8]:
# shape da base
treino.shape
treino.head(3)
# Informações (ticket, cabin,...) cardinalidade muito alta, tornam nosso modelo menos generalizavel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
# verificando a cardinalidade dos dados
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

#### Colunas com 'alta cardinalidade' como o 'nome' 'numero de ticket' e 'código de cabine' não vão ajudar o nosso modelo. 
- pois vão deixaar menos generalizavel. ou seja, vamos eliminar essas colunas. um certo dado pode acabar não ajudando a gente. a cardinalidade a gente vai olhar mais para as colunas de texto.

In [10]:
# Eliminando na base de treino 


teste = teste.drop(['Name', 'Ticket', 'Cabin'], axis=1) 

# eliminando também da base de teste

# teste = teste.drop(['Name', 'Ticket', 'Cabin'], axis=1)

### avaliandoo a coluna 'age', que possui valores vazios tanto no treino quanto no teste
- como essa coluna possui a idade dos passageiros, podemos utilizar a media das idades para substituir valores vazios

In [11]:
# verificando a media das idades
treino.Age.mean()

29.69911764705882

In [12]:
# selecionar as colunas com a idade vazia e substituir com esse valor
treino.loc[treino.Age.isnull(), 'Age'] = treino.Age.mean()

# LEMBRA -> fazer o mesmo com a base de teste
teste.loc[teste.Age.isnull(), 'Age'] = teste.Age.mean()

##### para base de treino, ainda temos 2 valores vazios na coluna 'Embarked'
- podemos verificar todos os valores nessa coluna e substituir pela moda;

In [13]:
# verificando os valores da coluna Embarked   
treino.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [14]:
# pegar a moda dessa colunovix
treino.Embarked.mode()[0]

'S'

In [15]:
# substituindo os valores vazios
treino.loc[treino.Embarked.isnull(), 'Embarked'] = treino.Embarked.mode()[0]

In [19]:
# por ultimo, eu tenho um valor vazio em 'fare' na base de teste
# ----> teste.loc[teste.Fare.isnull(), 'Fare'] = teste.fare.mean()

#### MAIS UMA CONFERIDA NOS VALORES

In [20]:
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
PassengerId      0
Survived         0
Pclass           0
Name             0
dtype: int64

In [21]:
teste.isnull().sum().sort_values(ascending=False).head(5)

Fare           1
PassengerId    0
Pclass         0
Sex            0
Age            0
dtype: int64

- Colunas que não são de texto

In [22]:
treino.columns[treino.dtypes != 'object']

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [23]:
treino_nr = treino.loc[:,treino.columns[treino.dtypes != 'object']]

In [27]:
# para base de TESTE
teste.columns[teste.dtypes != 'object']

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [28]:
teste_nr = teste.loc[:,teste.columns[teste.dtypes != 'object']]

##### Depois que nossos dados estão tratados, podemos selecionar um modelo para classifica-los
- Arvore de classificação
- Classificação dos vizinhos mais proximos
- Regressão Logistica

### Revisar alguns topicos:
- Regressão Logística:
A regressão logística é um modelo de classificação que é usado quando a variável de destino (ou dependente) é categórica. O modelo calcula as probabilidades associadas a cada classe e atribui a classe com a probabilidade mais alta.

- Árvores de Decisão:
são modelos que dividem o espaço de características em regiões retangulares e atribuem uma classe a cada região. Elas funcionam dividindo repetidamente o conjunto de dados com base nos valores de características, escolhendo a divisão que melhor separa as classes.

- Random Forest:
é uma técnica de ensemble learning que constrói várias árvores de decisão durante o treinamento e combina suas previsões para obter uma previsão mais robusta e geralmente mais precisa.

- Máquinas de Vetores de Suporte (SVM):
SVM é um modelo que encontra o hiperplano de separação que melhor separa as classes no espaço de características. Ele busca maximizar a margem entre as classes, tornando-se eficaz em espaços de alta dimensão.

- K-Vizinhos Mais Próximos (KNN):
KNN (inglês "k-nearest neighbors") é um algoritmo de classificação que classifica um ponto de dados baseado nas classes dos k pontos de dados mais próximos a ele no espaço de características.

- Redes Neurais Artificiais (ANN):
são modelos computacionais inspirados no funcionamento do cérebro humano. Eles consistem em camadas de neurônios interconectados que aprendem a mapear entradas para saídas por meio do ajuste de pesos sinápticos durante o treinamento.

- Naive Bayes:
O classificador Naive Bayes é um modelo probabilístico baseado no teorema de Bayes. Ele assume que as características são independentes, dadas as classes, o que simplifica os cálculos de probabilidade.

In [29]:
# importar o train_test_split
from sklearn.model_selection import train_test_split

In [36]:
# separar minha base train em X and Y 
X = treino_nr.drop(['Survived', 'PassengerId'], axis=1)
y = treino.Survived

In [37]:
# Separar em : treino e validacção 
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

- Arvore de classificação

In [38]:
from sklearn import tree
clf_arv_cla = tree.DecisionTreeClassifier(random_state=42)  # criar um classificador
clf_arv_cla = clf_arv_cla.fit(X_train, y_train) # Fit com os dados

y_pred_arv_cla = clf_arv_cla.predict(X_val) # previsão

- KNeighborsClassifier

In [39]:
from sklearn.neighbors import KNeighborsClassifier
clf_knn = KNeighborsClassifier(n_neighbors=3)
clf_knn.fit(X_train, y_train)

y_pred_knn = clf_knn.predict(X_val) # previsão

- Regressão Lógistica

In [40]:
from sklearn.linear_model import LogisticRegression
clf_rl = LogisticRegression(random_state=42)
clf_rl = clf_rl.fit(X_train, y_train)

y_pred_rl = clf_rl.predict(X_val) # previsão

#### Para avaliar estes modelos, vou usar> Acurácia

In [43]:
from sklearn.metrics import accuracy_score

# Arvore
accuracy_score(y_val,y_pred_arv_cla)

0.6169491525423729

In [44]:
# KNN
accuracy_score(y_val, y_pred_knn)

0.6542372881355932

In [45]:
# Regressão logistica
accuracy_score(y_val, y_pred_rl)

0.7254237288135593

#### avalizando matrizz de confusão

In [46]:
from sklearn.metrics import confusion_matrix

# arvore
confusion_matrix(y_val, y_pred_arv_cla)

array([[125,  50],
       [ 63,  57]], dtype=int64)

In [48]:
#KNN
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 60,  60]], dtype=int64)

In [49]:
# for RL
confusion_matrix(y_val, y_pred_rl)

array([[156,  19],
       [ 62,  58]], dtype=int64)