Criando um dataframe a partir de um dicionário

In [23]:
import pandas as pd

# dataframe = pd.DataFrame()
Venda = {
    'data': ['15/02/2021', '16/02/2021'],
    'valor': [500, 300],
    'produto': ['feijao', 'arroz'],
    'qtde': [50, 70],
}

Vendas_df = pd.DataFrame(Venda)

Vizualização de dados 
- Print
-  Display

In [25]:
print(Vendas_df)

display(Vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70